<nav className="mt-2 flex flex-col h-[100%]" *ngFor="let action of ['home', 'login', 'register', 'profile', 'user']">
  <a routerLink="/{{action}}">
    <span className="text-base group-hover:text-white font-[600] hidden sm:inline">{{action}}</span>
  </a>
</nav>
<div id="app" *ngIf="character">
  <div class="w-fit h-[90vh] my-[5vh] bg-black/50 rounded-[5px] flex flex-col">
    <div class="self-center flex w-[90%] items-center">
        <div class="w-[100%] sm:flex flex-col items-center justify-center text-white/80   space-y-0 hidden ">
          <div class=" text-center font-[700]">{{character.nickname}}</div>
            <div class='w-[80%] h-[100%] m-0 bg-zinc-500'>
                <div class="h-[5px] bg-green-400" [ngStyle]="{'width': levelPercent}"></div>
            </div>
          <div className="text-center">
            level {{character.level}}
          </div>
        </div>
      </div>
    <hr className="text-gray-900 border-1 w-[100%]" />

  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>